:root {
    /* colors */
    --colors-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: black;

    /* Fonts */
    --font-robot: "Roboto";
}